html, body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
}

/* FUNDO MENU COM GIF */
body {
  background: url("../assets/texture/tent-3.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
/* ==================================================== */
/* TELA DO JOGO */
#game-screen {
    width: 100vw;
    height: 100vh;
}

#glCanvas {
    width: 100vw;
    height: 100vh;
    display: block;
}
/* ==================================================== */

/* PROGRESS BAR */
#hud {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    pointer-events: none;
}

#progressContainer {
    width: 100%;
    height: 20px;
    background: rgba(0,0,0,0.3);
    border: 2px solid #333;
    display: none;
}

#progressBar {
    height: 100%;
    width: 0%;
    background: #4caf50;
}
/* ==================================================== */

.modalInfo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: rgba(0,0,0,0.85);
  color: white;
  padding: 14px 18px;
  border-radius: 10px;

  font-family: sans-serif;
  font-size: 14px;

  pointer-events: none;
  display: none;
  white-space: nowrap;

  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

/* Botão fechar */
.closeMissao {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

.mission-modal { 
  display: none; /* escondido por padrão */
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6); /* fundo semi-transparente */
  justify-content: center;
  align-items: center;
}

.modal-content-complete {
  position: relative; /* importante para posicionar o texto */
  text-align: center; /* centraliza texto horizontalmente */
}

.modal-content-complete h2 {
  position: absolute; /* coloca em cima da imagem */
  top: 10%; /* ajusta a altura do texto */
  left: 50%;
  transform: translateX(-50%); /* centraliza horizontalmente */
  color: white; /* deixa o texto branco */
  font-size: 24px;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.7); /* opcional: melhora visibilidade */
  margin: 0;
}

.modal-content-complete img {
  max-width: 50%; /* ajuste conforme necessário */
  max-height: 50%;
  border: 3px solid #fff;
  border-radius: 8px;
}

