html, body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
}

/* FUNDO MENU COM GIF */
body {
  background: url("../assets/texture/tent-3.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
/* ==================================================== */
/* TELA DO JOGO */
#game-screen {
    width: 100vw;
    height: 100vh;
}

#glCanvas {
    width: 100vw;
    height: 100vh;
    display: block;
}
/* ==================================================== */

/* PROGRESS BAR */
#hud {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    pointer-events: none;
}

#progressContainer {
    width: 100%;
    height: 20px;
    background: rgba(0,0,0,0.3);
    border: 2px solid #333;
    display: none;
}

#progressBar {
    height: 100%;
    width: 0%;
    background: #4caf50;
}
/* ==================================================== */

#modalInfo {
  position: absolute;
  background: rgba(0,0,0,0.8);
  color: white;
  padding: 10px 14px;
  border-radius: 8px;
  font-family: sans-serif;
  pointer-events: none;
  transform: translate(-50%, -100%);
  display: none;
  white-space: nowrap;
}

