html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
}

/* FUNDO MENU COM GIF */
body {
  background: url("../assets/texture/tent-3.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
/* ==================================================== */
/* TELA DO JOGO */
#game-screen {
    width: 100vw;
    height: 100vh;
}

#glCanvas {
    width: 100vw;
    height: 100vh;
    display: block;
}
/* ==================================================== */