html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
}

/* FUNDO MENU COM GIF */
body {
  background: url("../assets/texture/tent-3.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
/* ==================================================== */
/* TELA DO JOGO */
#game-screen {
    width: 100vw;
    height: 100vh;
}

#glCanvas {
    width: 100vw;
    height: 100vh;
    display: block;
}
/* ==================================================== */

#modalInfo {
  position: absolute;
  background: rgba(0,0,0,0.8);
  color: white;
  padding: 10px 14px;
  border-radius: 8px;
  font-family: sans-serif;
  pointer-events: none;
  transform: translate(-50%, -100%);
  display: none;
  white-space: nowrap;
}
